body {
	margin: 0px;
	padding: 0px;
	background-color: #f7f7f7;
} 

.header {
	height: 225px;
	border-bottom: solid 10px #021283;
	background-color: #f7f7f7;
	position: relative;
	text-align: center;
}

.header h1 {
	color: #FFF;
	font-size: 36px;
	margin-top: 15px;
}

.signupblog {
	margin-top: 45px;
	border-radius: 0px;
	background-color: #fff;
	padding: 15px;
	margin-bottom: 45px;
	-webkit-box-shadow: 0px 5px 9px -1px rgba(194,188,194,1);
	-moz-box-shadow: 0px 5px 9px -1px rgba(194,188,194,1);
	box-shadow: 0px 5px 9px -1px rgba(194,188,194,1);
	border-top: solid 5px #021283;
	position: absolute;
	top: 88px;
	left: 13%;
	width: 75%;
}
.triangle {
	width: 0;
	height: 0;
	border-width: 0 0 115px 115px;
	border-color: transparent transparent #021283 transparent;
	border-style: solid;
	position: absolute;
	left: -115px;
	top: -4px;
}
.signupblog h1 {
	color: #8e8383;
	font-size: 25px;
	margin: 0px;
	/* background-color: #fff; */
	padding: 10px;
	text-align: left;
	font-weight: bold;
}

.signupblog h2 {
	color: #666;
	font-size: 14px;
	font-weight: bold;
	margin: 0px;
	background-color: #fbfafa;
	padding: 10px;
	border-bottom: solid 3px #ddbdbd;
}

